---
import PageLayout from '@/layouts/PageLayout.astro';
import PrivacyPolicy from '@/content/privacy-policy.mdx';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
import salons from '@/data/salons.json';
const LEGAL_SALONS_INFO = LEGAL_ENTITY && LEGAL_INN ? 
[`<span>${LEGAL_ENTITY} (ИНН:&nbsp;${LEGAL_INN})</span>`] : 
salons
    .filter(salon => salon?.legal_entity && salon?.legal_entity !== '')
    .map(s => `<span><b>${s?.legal_entity}</b> (ИНН:&nbsp;${s?.legal_inn})</span>`);
---

<PageLayout
    h1="Политика конфиденциальности <br/> (в редакции от 01.05.2025)"
    title="Политика конфиденциальности"
    breadcrumb={[{name:"Политика конфиденциальности",href:""}]}
>
    <PrivacyPolicy />
</PageLayout>